main.css

h1 { 
color:#F5B7B1;
font-size: 30px;
text-align: center;
font-family: klee;
}





h2 { 
	text-align: center; 
	color:black;
	font-family: klee;
	font-size: 16px;}

ul {list-style-type: none;}




p {
	text-align: center;
}
div{text-align:center;}

.thumbnail {overflow: hidden;
height:auto;
width: auto;
}

 
    
