main.css

h1 { 
color:#F5B7B1;
font-size: 30px;
text-align: center;
font-family: klee;
}

.jumbotron {
min-height: 400px;
min-width: 100px;
background-color: white;
background-size: cover; 
background-attachment: fixed;
}


h2 { 
	text-align: center; 
	color:black;
	font-family: klee;
	font-size: 16px;

h3 {text-align: center}

h2 { text-align: center;

}

p {font-size: 30px;
font-family: klee;
color:gold;

}

p1 {
	font-family: klee;
	font-color: black;
	font-size: 30px;
}

